body {
    margin: 0 auto;
    font-family: "Cambria", sans-serif;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1920px;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img {
  max-width: 100%;
  width: auto; }

button {
  border: none;
  background: none;
  outline: none;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1175px; }

header {
  background-color: #008b2b;
}
.head{
    justify-content: space-between;
    display: flex;
    padding: 11px 0;
}
.request-call {
  display: flex; }

.request-call-button {
  font-family: "Cambria" , sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 185px; }

.request-number {
    margin: auto;
    margin-left: 47px;
    color: white;
    font-weight: normal;
    font-size: 21px;}
.request-number img{
    margin-right: 9px;
}
.communication img{
    padding: 10px 30px 0 0;
}
.isrl{
    padding-right: 36px;
}
.lang{
    position: relative;
}
.usa:before{
    content: "";
    background-color: white;
    position: absolute;
    width: 1px;
    height: 34px;
    left: 62px;
    transform: rotate(22deg);
}
.purchases-button{
    position: relative;
}
.purchases-button:before{
    content: "2";
    width: 16px;
    height: 16px;
    position: absolute;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    left: 40px;
    bottom: 27px;
    font-size: 12px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

.nav{

    display: flex;
    justify-content: space-between;
    width: 755px;
}
.nav button{
    font-family: "Cambria" , sans-serif;
    font-size: 18px;
}
.aboutus{
    position: relative;
}
.aboutus:before{
    content: '';
    background-color: #ff6102;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 0;
}
.aboutus:after{
    content: '';
    background-color: #ff6102;
    width: 82px;
    height: 2px;
    position: absolute;
    bottom: 34px;
    left: 0;
}
.banner{
    background: url("../images/main/all_heating_02.png") 50% 0 no-repeat;
    background-size: 1920px 923px;
    height: 829px;
    overflow: hidden;
}
.banner h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 235px;
}
.buttons{
    margin: 0 25px;
    display: flex;
    padding-top: 270px;
    justify-content: space-between;
}
.triangles{
    display: flex;
    height: 190px;
}
.triangles2{
    display: flex;
    height: 125px;
}
.triangle-left{
    width: 50%;
    background-color: #ffffff;
    background:linear-gradient(to left bottom,transparent 50%, #ffffff 0)
}
.triangle-right{
    width: 50%;
    background-color: #ffffff;
    background:linear-gradient(to right bottom,transparent 50%, #ffffff 0)
}

.conntent h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.text h2{
    font-size: 18px;
    font-weight: bold;
    max-width: 382px;
    margin: 0;
}
.text{
    max-width: 542px;
}
.conntent img{
    border: 2px solid #ff6102;
    border-radius: 5px;
}
.text-photo{
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.orange-line{
    border-left: 2px solid #ff6102;
    max-height: 190px;
    margin-top: 69px;
}
.first-sect{
    padding-top: 133px;
}
.text-photo{
    padding-top: 66px;
}
.red-buttom{
    font-family: "Cambria", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fc6602;
}
.photo{
    position: relative;
    width: 515px;
    height: 334px;
}
.photo1{
    position: absolute;
    top: 0;
    right: 0;
}
.photo2{
    position: absolute;
    left: 0;
    bottom: 0;
}
.photo1:hover{
    z-index: 10;
}
.triangle-left2{
    width: 50%;
    background-color: #008b2b;
    background:linear-gradient(to left bottom,transparent 50%, #008b2b 0)
}
.triangle-right2{
    width: 50%;
    background-color: #008b2b;
    background:linear-gradient(to right bottom,transparent 50%, #008b2b 0)
}
.aplications{
    padding-top: 133px;
}
.app{
    margin-top: 50px;
}
.text-photo2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.text-photo2-text{
    max-width: 447px;
    margin: auto 0;
}
.text-photo2-text h2{
    font-size: 18px;
    margin: 0;
}
.text-photo2-text p {
    margin: 30px 0;
}
.left-padding{
    padding-left: 100px;
}
.right-padding{
    padding-right: 100px;
}
.text-photo2-img{
    max-width: 548px;
    max-height: 306px;
}
#mid{
    text-align: center;
}
.app-butn{
    border-radius: 5px;
    font-family: "Cambria", sans-serif;
    width: 224px;
    height: 45px;
    background-color: #ff6102;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.checkin{
    padding-top: 120px;
}
.inputs{
    text-align: center;
    padding-top: 62px;
    padding-bottom: 41px;


}
.inp{
    outline: none;
    font-weight: normal;
    font-size: 14px;
    font-family: "Cambria", sans-serif;
    margin: 0 5px 31px 0;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;
    width: 272px;
    border: 1px solid #ff6102;

}
.submit-bnt{
    background-color: #ff6102;
    color: #ffffff;
    font-size: 18px;
    font-family: "Cambria", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    width: 1155px;
}
.ourprod{
    background-color: #008b2b;
    padding-top: 121px;
    color: #ffffff;

}
.products-pic img{

    border: none;
}

.products-pic{
    display: flex;
    justify-content: space-between;
}
.product{
    margin-top: 60px;
    text-align: center;
}
.product-img{
    border: 2px solid #ffffff;
    padding: 12px;
    border-radius: 5px;
}
.slider{
    width: 247px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 22px auto 0;
    position: relative;

}
.slider:before{
    position: absolute;
    content: "";
    width: 31px;
    height: 8px;
    top: -50%;
    right: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}
.loremipsum{
    margin-top: 147px;
}
.allrub{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}

.rhombus-conntent img{
    border: none;
    margin: 0 36px;
}

.rhombus-conntent{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 301px;
    text-align: center;
    margin: 0 85px 70px 0;
    position: relative;

}
.rhombus-conntent h2{
    font-size: 18px;
    margin-bottom: 4px;
}
.rhombus-conntent p{
    font-size: 14px;
}
.rhombus-conntent:before{
    position: absolute;
    content: "";
    border: 2px solid #ff6102;
    border-radius: 5px;
    height: 275px;
    width: 275px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -32px
}
.connection{
    display: flex;
    justify-content: space-between;
    padding-top: 127px;

}

.connection h2{
    font-size: 18px;
}
.connection p{
    margin: 4px 0;
}
.google{
    max-height: 317px;
    max-width: 469px;
}
.links{
    text-align: right;
}
.numbers a{
    padding-left: 5px;
    max-height: 26px;
    font-size: 21px;
}
.numbers h2{
    margin: 0 0 30px 0;
}
.web{
    position: relative;
    max-height: 30px;
    padding-top: 67px;
    display: flex;
}
#FB{
    position: relative;
    padding: 0 16px;
    top: -3px;
}
.reserved{
    background-color: #017725;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    font-size: 14px;
    margin-top: 100px;
}
.reserved p{
    margin: 0;
}
@media (max-width: 1175px){
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    .orange-line{
        display: none;
    }
    .right-padding {
        padding-left: 10px;
        padding-right: 0;
    }
    .submit-bnt{
        width: 796px;
    }
    .rhombus-conntent{
        margin: 0 34px 161px 0;
    }
    .rhombus-conntent:before{
        height: 240px;
        width: 240px;
        top: -5px;
    }
}
@media (max-width: 840px){
    .banner{
    max-height: 800px;}
    .aboutus:before {
        display: none;
    }
    .banner h1{
        font-size: 23px;
    }

    .aboutus:after{
        display: none;
    }
    .icon{
        padding-left: 5px;
    }
    .web{
        display: block;
    }
    .submit-bnt {
        width: 216px;
    }
}
@media (max-width: 680px){
        .communication{
            display: none;
        }
        .request-number{
            display: none;
        }
        .connection{
            display: block;
            text-align: center;
        }
        .google{
            max-width: none;
            max-height: none;
            padding-top: 50px;
        }
        .links{
            display: none;
        }
}
@media (max-width: 626px){
    .nav{
        flex-direction: column;
        width: auto;

    }
    .icon {
        text-align: center;}
    .navigation {
    display: block;
    }
    .nav button{
        border: 2px solid #ff6102;
        border-radius: 5px;
        margin: 5px;
    }
}
@media (max-width: 530px){
    .first-sect {
        padding-top: 0;
    }
    .photo{
        margin-top: 20px;
    }
    .text-photo{
        display: block;
    }
    .photo1{
        position: relative;
        max-width: 240px;
    }
    .photo2{
        position: relative;
        max-width: 240px;
    }
    .text-photo2{
        display: block;
    }
    .left-padding{
        padding-left: 0;
    }
    .request-call-button {
        width: 113px;
    }
}
@media (max-width: 477px){
    .banner{
        max-height: 784px;}

    .banner h1{
        font-size: 16px;
    }

}
@media (max-width: 361px) {
    .purchases-button {
        width: 30px;
        height: 30px;
}
    .purchases-button:before {
        content: "2";
        width: 12px;
        height: 12px;
        position: absolute;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        left: 27px;
        bottom: 27px;
        font-size: 10px;
    }
    .request-call-button{
        font-size: 11px;
        width: 92px;
    }
    .usa:before {
        content: "";
        background-color: white;
        position: absolute;
        width: 1px;
        height: 17px;
        left: 31px;
        transform: rotate(20deg);
    }
    .usa{
        width: 25px;
        height: 25px;
    }
    .isrl{
        margin-right: 10px;
        padding-right: 0;
        width: 25px;
        height: 25px
    }

}
@media (max-width: 341px) {
    .banner{
        max-height: 774px;}

    .banner h1{
        font-size: 12px;
    }
}
