body {
    margin: 0 auto;
    font-family: "Cambria", sans-serif;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1920px;
}
h1{
    margin: 0;
}
a{
    text-decoration: none;
}
img {
  max-width: 100%;
  width: auto; }
.nav-list a{
    color: black;
}
.nav-list{
    display: flex;
    justify-content: space-between;
}
ul.nav-list li{
    display: inline;
    margin-right: 15px;
    list-style: none;
}
button {
  border: none;
  background: none;
  outline: none;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  max-width: 1175px; }

header {
  background-color: #008b2b;
}
.head{
    justify-content: space-between;
    display: flex;
    padding: 11px 0;
}
.request-call {
  display: flex; }

.request-call-button {
  font-family: "Cambria" , sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 185px; }

.request-number {
    margin: auto;
    margin-left: 47px;
    color: white;
    font-weight: normal;
    font-size: 21px;}
.request-number img{
    margin-right: 9px;
}
.communication img{
    padding: 10px 30px 0 0;
}
.isrl{
    padding-right: 36px;
}
.lang{
    position: relative;
}
.usa:before{
    content: "";
    background-color: white;
    position: absolute;
    width: 1px;
    height: 34px;
    left: 62px;
    transform: rotate(22deg);
}
.purchases{
    position: relative;
}
.two{
    text-align: center;
    width: 16px;
    height: 16px;
    position: absolute;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    left: 40px;
    bottom: 31px;
    font-size: 14px;
    line-height: 14px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

nav{
    padding-left: 54px;
    padding-top: 15px;
    width: 755px;
}
.nav button{
    font-family: "Cambria" , sans-serif;
    font-size: 18px;
}
.aboutus{
    position: relative;
}
.aboutus:after{
    content: '';
    background-color: #ff6102;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: -23px;
    left: 0;
}
.aboutus:before{
    content: '';
    background-color: #ff6102;
    width: 82px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.banner{
    background: url("../images/main/all_heating_02.png") 50% 0 no-repeat;
    background-size: 1920px 923px;
    height: auto;
    overflow: hidden;
}
.banner h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 235px;
}
.buttons{
    margin: 0 25px;
    display: flex;
    padding-top: 270px;
    justify-content: space-between;
}
.triangles{
    display: flex;
    height: 190px;
}
.triangles2{
    display: flex;
    height: 125px;
}
.triangle-left{
    width: 50%;
    background-color: #ffffff;
    background:linear-gradient(to left bottom,transparent 50%, #ffffff 0)
}
.triangle-right{
    width: 50%;
    background-color: #ffffff;
    background:linear-gradient(to right bottom,transparent 50%, #ffffff 0)
}

.conntent h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.text h2{
    font-size: 18px;
    font-weight: bold;
    max-width: 382px;
    margin: 0;
}
.text{
    max-width: 542px;
}
.conntent img{
    border: 2px solid #ff6102;
    border-radius: 5px;
}
.text-photo{
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
.orange-line{
    border-left: 2px solid #ff6102;
    max-height: 190px;
    margin-top: 69px;
}
.first-sect{
    padding-top: 133px;
}
.text-photo{
    padding-top: 66px;
}
.red-buttom{
    font-family: "Cambria", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fc6602;
}
.photo{
    position: relative;
    width: 515px;
    height: 334px;
}
.photo1{
    position: absolute;
    top: 0;
    right: 0;
}
.photo2{
    position: absolute;
    left: 0;
    bottom: 0;
}
.photo1:hover{
    z-index: 10;
}
.triangle-left2{
    width: 50%;
    background-color: #008b2b;
    background:linear-gradient(to left bottom,transparent 50%, #008b2b 0)
}
.triangle-right2{
    width: 50%;
    background-color: #008b2b;
    background:linear-gradient(to right bottom,transparent 50%, #008b2b 0)
}
.aplications{
    padding-top: 133px;
}
.app{
    margin-top: 50px;
}
.text-photo2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.text-photo2-text{
    max-width: 447px;
    margin: auto 0;
}
.text-photo2-text h2{
    font-size: 18px;
    margin: 0;
}
.text-photo2-text p {
    margin: 30px 0;
}
.left-padding{
    padding-left: 100px;
}
.right-padding{
    padding-right: 100px;
}
.text-photo2-img{
    max-width: 548px;
    max-height: 306px;
}
#mid{
    text-align: center;
}
.app-butn{
    border-radius: 5px;
    font-family: "Cambria", sans-serif;
    width: 224px;
    height: 45px;
    background-color: #ff6102;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.checkin{
    padding-top: 120px;
}
.inputs{
    text-align: center;
    padding-top: 62px;
    padding-bottom: 41px;


}
.inp{
    outline: none;
    font-weight: normal;
    font-size: 14px;
    font-family: "Cambria", sans-serif;
    margin: 0 5px 31px 0;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;
    width: 272px;
    border: 1px solid #ff6102;

}
.submit-bnt{
    background-color: #ff6102;
    color: #ffffff;
    font-size: 18px;
    font-family: "Cambria", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    height: 50px;
    width: 1155px;
}
.ourprod{
    background-color: #008b2b;
    padding-top: 121px;
    color: #ffffff;

}
.ourprod h1{
    margin: 0 0 35px 0;
}
.products-pic img{

    border: none;
}

.products-pic{
    display: flex;
    justify-content: space-between;
}
.product{
    margin: 60px 5px 0 5px;
    text-align: center;
}
.product-img{
    border: 2px solid #ffffff;
    padding: 12px;
    border-radius: 5px;
}
.slider{
    width: 245px;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 22px auto 0;
    position: relative;
}
#landth{
    margin-top: -3px;
    position: absolute;
    width: 49px;
    height: 10px;
    border-radius: 3px;
    background-color: black;

}
.left-arrow {
    margin: auto 5px;
    width: 16px;
    height: 28px;
}
.right-arrow{
    margin: auto 5px;
    width: 16px;
    height: 28px;
}

.loremipsum{
    margin-top: 147px;
}
.allrub{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}

.rhombus-conntent img{
    border: none;
    margin: 0 36px;
}

.rhombus-conntent{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 301px;
    text-align: center;
    margin: 0 85px 70px 0;
    position: relative;

}
.rhombus-conntent h2{
    font-size: 18px;
    margin-bottom: 4px;
}
.rhombus-conntent p{
    font-size: 14px;
}
.rhombus-conntent:before{
    position: absolute;
    content: "";
    border: 2px solid #ff6102;
    border-radius: 5px;
    height: 275px;
    width: 275px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -32px
}
.connection{
    display: flex;
    justify-content: space-between;
    padding-top: 127px;

}

.connection h2{
    font-size: 18px;
}
.connection p{
    margin: 4px 0;
}
.google{
    max-height: 317px;
    max-width: 469px;
}
.links{
    text-align: right;
}
.numbers a{
    padding-left: 5px;
    max-height: 26px;
    font-size: 21px;
}
.numbers h2{
    margin: 0 0 30px 0;
}
.web{
    position: relative;
    max-height: 30px;
    padding-top: 67px;
    display: flex;
}
#FB{
    position: relative;
    padding: 0 16px;
    top: -3px;
}
.reserved{
    background-color: #017725;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
    font-size: 14px;
    margin-top: 100px;
}
.reserved p{
    margin: 0;
}
.swiper-slide img{
    position: relative;
}
.swiper-slide span{
    color: white;
}
.swiper-slide h2{
    font-size: 33px;
    text-align: center;
    position: absolute;
    bottom: 250px;
    left: 20%;
    max-width: 803px;
    z-index: 2000;
}
.links ul{
    list-style: none;
}
@media (max-width: 1175px){
    .wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
    .orange-line{
        display: none;
    }
    .right-padding {
        padding-left: 10px;
        padding-right: 0;
    }
    .submit-bnt{
        width: 796px;
    }
    .rhombus-conntent{
        margin: 0 34px 161px 0;
    }
    .rhombus-conntent:before{
        height: 240px;
        width: 240px;
        top: -5px;
    }
    .swiper-slide h2{
        display: none;
    }
}

@media (max-width: 840px){
    .nav-list li{
        border: 2px solid #ff6102;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .swiper-app{
        display: none;
    }
    #try{
        padding-top: 88px;
    }
    .aboutus:before {
        display: none;
    }
    .banner h1{
        font-size: 23px;
    }

    .aboutus:after{
        display: none;
    }
    .icon{
        padding-left: 5px;
    }
    .web{
        display: block;
    }
    .submit-bnt {
        width: 216px;
    }
    .navigation{
        display: block;
        text-align: center;
    }
    ul.nav-list li{
        margin-right: 0;
        display: block;
    }
    .nav-list{
        display: block;
    }
    nav{
        padding-left: 0;
        padding-top: 0;
        width: auto;

}
}
@media (max-width: 680px){
    .communication{
        display: none;
    }
    .request-number{
        display: none;
    }
    .connection{
        display: block;
        text-align: center;
    }
    .google{
        margin-top: 70px;
        padding-top: 50px;
    }
    iframe{
        width: 300px;
        height: 200px;
    }
    .links{
        display: none;
    }
}
@media (max-width: 626px){
.navigation{
    text-align: center;
}
.right-arrow {
    width: 25px;
    height: 28px;
}
.left-arrow {
    width: 25px;
    height: 28px;
}
.product {

    margin: 5px 5px 0 5px;
}
.product-img {
    border: none;
    padding: 0;
}
.product p{
    margin: 3px;
}
.product-img img{
    border: 2px solid #ffffff;
}
.icon {
    text-align: center;}
}
@media (max-width: 530px){
.text-photo2-text p {
    margin: 3px 0;
}
.right-padding {
padding-left: 0;
}
.first-sect {
    padding-top: 0;
}
.photo{

    width: auto;
    margin-top: 20px;
}
.text-photo{
    display: block;
}
.photo1{
    margin: 0 auto;
    position: relative;
    max-width: 240px;
}
.photo2{
    margin: 0 auto;
    position: relative;
    max-width: 240px;
}
.text-photo2{
    display: block;
}
.left-padding{
    padding-left: 0;
}
.request-call-button {
    width: 113px;
}
}
@media (max-width: 477px){
.rhombus-conntent img{
    width: 35px;
}
.rhombus-conntent{
max-width: 221px;
}
.rhombus-conntent:before {
    height: 200px;
    width: 200px;}
.banner h1{
    font-size: 16px;
}
.allrub{
    margin-bottom: 0;
}
.rhombus-conntent {
    margin: 0 0 113px 0;
}

}
@media (max-width: 361px) {
    iframe{
        width: 150px;
        height: 150px;
    }
.purchases-button {
    margin: 5px;
    width: 30px;
    height: 30px;
}
.two {

    width: 13px;
    height: 13px;
    left: 35px;
    bottom: 27px;
    font-size: 12px;
}
.request-call-button{
    font-size: 11px;
    width: 92px;
}
.usa:before {
    display: none;
}
.usa{
    width: 25px;
    height: 25px;
}
.isrl{
    margin-right: 10px;
    padding-right: 0;
    width: 25px;
    height: 25px
}

}
@media (max-width: 341px) {
.banner h1{
    font-size: 12px;
}
}
.wrap{
position: relative;
}
.swiper-app{
position: absolute;
z-index: 1000;
bottom: 0;
height: 194px;
width: 100%;
text-align: end;
}
.swipertext{
text-align: center;
max-width: 1175px;
margin: 0 auto;
}
.swiper-app h1 {
color: #ffffff;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
background-image: url("/images/main/icons8-шеврон-вправо-90.png");
}
#idi{
background-image: none;
z-index: 3000;
}
#idi2 {
background-image: none;
z-index: 3000;
}
#polosa{
left: 0;
transition: all ease 1s;
position: relative;
width: 1984px;
}
#polosa img{
max-width: 232px;
height: 147px;
float: left;
padding: 6px;
border:2px solid white;
border-radius: 3px;
}
#slider2{
overflow: hidden;
border: 4px solid black;
width: 992px;
height: 166px;
}
.product{
width: 100px;
height: 100px;
}
@media (max-width: 626px) {
    #slider2 {
        width: 248px;
    }
}